[Unit]
Description=XScreensaver

[Service]
SyslogIdentifier=xscreensaver
ExecStart=/bin/sh -c 'exec $HOME/.nix-profile/bin/xscreensaver -no-splash'
ExecStartPre=/bin/sh -c 'exec $HOME/.nix-profile/bin/xscreensaver-command -exit'
ExecStop=/bin/sh -c 'exec $HOME/.nix-profile/bin/xscreensaver-command -exit'

[Install]
WantedBy=default.target
