[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "emacs/.spacemacs.d/layers/w3m"]
	path = emacs/.spacemacs.d/layers/w3m
	url = https://github.com/venmos/w3m-layer.git
[submodule "emacs/.spacemacs.d/layers/pcl/lib/re-jump.el"]
	path = emacs/.spacemacs.d/layers/pcl/local/re-jump
	url = https://github.com/oliyh/re-jump.el.git
